<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="darkreader-lock">
    <title>{% block title %}{% endblock %} - Cinéphoria</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.default.css">
    
    {% block stylesheets %}
    {% endblock %}
    
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
    
    <link rel="stylesheet" href="/css/style.css">

</head>

{% macro menuItem(name, url) %}
    {% set currentUrl = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
    {% set isActive = currentUrl == url or ((currentUrl == "/mes_informations") and (url == "/mon-compte")) or ((currentUrl == "/mes_reservations") and (url == "/mon-compte")) %}
    
    <li class="nav-item">
        <a href="{{ url }}" class="nav-link {% if isActive %}active{% endif %}  px-2">{{ name }}</a>
    </li>
{% endmacro %}

<body style="color-scheme: dark;" data-bs-theme="dark">
<nav class="header navbar navbar-expand-lg bg-header my-0">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('index') }}">
            <img src="/images/logo_cinephoria_trans.png" alt="Logo Cinéphoria" class=" position-absolute top-0 ms-3 mt-2">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mt-5 mt-lg-0" id="navbarToggler">
            {% if app.user %}
                {% set nom_utilisateur = app.user.prenom %}
            {% else %}
                {% set nom_utilisateur = "visiteur" %}
            {% endif %}
            
            <ul class="navbar-nav nav-underline ms-auto me-3 mb-2 mb-lg-0">
                <span class="navbar-text nav-link px-2 disabled" aria-disabled="true">Bienvenue, {{ nom_utilisateur }} !</span>
                {{ _self.menuItem('Accueil', path('index')) }}
                
                {{ _self.menuItem('Films', path('liste_films')) }}
                {{ _self.menuItem('Réservation', path('page_reservation')) }}

                {% if app.user %} {# user.isLoggedIn #}
                    {{ _self.menuItem('Mon compte', path('page_mon_compte')) }}
                    {{ _self.menuItem('Se déconnecter', path('app_logout')) }}
                {% else %}
                    {{ _self.menuItem('Connexion', path('app_login')) }}
                    {{ _self.menuItem('Inscription', path('app_register')) }}
                {% endif %}
            
            </ul>
        </div>
    </div>
</nav>

<main class="py-3 pt-5">
    
    <div class="row g-0">
        {% block content %}{% endblock %}
    </div>
    
    
</main>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-0 text-light">
    
    <ul class="nav col-md-12 justify-content-center">
        <li class="nav-item align-middle"><span class="nav-link text-body-secondary px-3">© 2025 Cinéphoria</span></li>
        {{ _self.menuItem('A propos', path('apropos')) }}
        {{ _self.menuItem('Cinémas', path('cinemas')) }}
        {{ _self.menuItem('Technologies', path('technologies')) }}
        {{ _self.menuItem('Mentions légales', path('mentions_legales')) }}
        {{ _self.menuItem('Politique de confidentialité', path('confidentialite')) }}
        {{ _self.menuItem('Contact', path('contact')) }}
    </ul>
</footer>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery-3.7.1.min.js"></script>
{% block scripts_supp %}{% endblock %}
<script src="/js/script.js"></script>


</body>
</html>
