{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="col-12 px-6 align-items-center">
   
   <div class="row g-4 mx-auto align-items-center">
      <div class="col-12">
         <div class="dropdown choix_cinema">
            <button class="btn btn-primary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Aujourd'hui dans votre cinéma : Tous les cinémas
            </button>
            <ul class="dropdown-menu fs-4 w-100 text-center">
               <li><h6 class="dropdown-header">Cinémas en France</h6></li>
               <li><a class="dropdown-item" href="#">Nantes</a></li>
               <li><a class="dropdown-item" href="#">Bordeaux</a></li>
               <li><a class="dropdown-item" href="#">Paris</a></li>
               <li><a class="dropdown-item" href="#">Toulouse</a></li>
               <li><a class="dropdown-item" href="#">Lille</a></li>
               <li><hr class="dropdown-divider"></li>
               <li><h6 class="dropdown-header">Cinémas en Belgique</h6></li>
               <li><a class="dropdown-item" href="#">Charleroi</a></li>
               <li><a class="dropdown-item" href="#">Liège</a></li>
            </ul>
         </div>
      </div>
   </div>
   <div class="row g-4 mx-auto align-items-center">
      <div class="col-12">
         <ul class="nav nav-underline nav_filtres px-3">
            <li class="nav-item">
               <a class="nav-link active">Aujourd'hui</a>
            </li>
            <li class="nav-item">
               <a class="nav-link">Demain</a>
            </li>
            <li class="nav-item">
               <a class="nav-link">Jeudi 20 février</a>
            </li>
            
            <li class="nav-item dropdown jours_menu">
               <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                  Jours suivants
               </a>
               <ul class="dropdown-menu">
                  <li><a class="dropdown-item">Vendredi 21 février</a></li>
                  <li><a class="dropdown-item">Samedi 22 février</a></li>
                  <li><a class="dropdown-item">Dimanche 23 février</a></li>
                  <li><a class="dropdown-item">Lundi 24 février</a></li>
                  <li><a class="dropdown-item">Mardi 25 février</a></li>
               </ul>
            </li>
            
            <li class="nav-item dropdown filtres_menu">
               <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                  Filtres
               </a>
               <ul class="dropdown-menu">
                  <li><h6 class="dropdown-header">Technologies</h6></li>
                  <li>
                        <span class="badge rounded-pill badge_genre_filtres" data-filtre-techno="4DX">4DX-ICE</span>
                        <span class="badge rounded-pill badge_genre_filtres" data-filtre-techno="3D">3D</span>
                        <span class="badge rounded-pill badge_genre_filtres" data-filtre-techno="IMAX">IMAX</span>
                        <span class="badge rounded-pill badge_genre_filtres" data-filtre-techno="ONYX">ONYX</span>
                  </li>
                  
                  <li><hr class="dropdown-divider"></li>
                  <li><h6 class="dropdown-header">Genres</h6></li>
                  <li>
                     {% for genre in genres %}
                        <span class="badge rounded-pill badge_genre_filtres" data-filtre-genre="{{ genre }}">{{ genre }}</span>
                     {% endfor %}
                  </li>
               
               </ul>
            </li>
         
         
         </ul>
      </div>
   </div>
   
   
   <div class="row g-4 mt-2">
   
   {% for film in films %}
      <div class="col-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
         <a href="/film/{{ film }}" class="films_lien_details">
            <div class="card">
                  <img src="images/affiches/{{ film }}.jpg" class="card-img-top" alt="{{ film }}">
                  <div class="film_hover">INFOS ET<br><b>SEANCES</b></div>
               <div class="card-body">
                  <h5 class="card-title">{{ film }}</h5>
                  <p class="card-text">Début de la description du film...</p>
               </div>
            </div>
         </a>
      </div>
         {% else %}
            
            <div class="affiche">Aucun film trouvé !</div>
         
         {% endfor %}
         

   </div>
</div>


{% endblock %}

{% block scripts_supp %}

{% endblock %}

