{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="col-12 px-6 conteneur_general_film">
   
   <div class="row filtres_films">
      <div class="col-12 p-0">
         <div class="dropdown choix_cinema">
            <button class="btn btn-primary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Aujourd'hui dans votre cinéma : Tous les cinémas
            </button>
            <ul class="dropdown-menu fs-4 w-100 text-center">
               <li><h6 class="dropdown-header">Cinémas en France</h6></li>
               <li><a class="dropdown-item" href="#">Nantes</a></li>
               <li><a class="dropdown-item" href="#">Bordeaux</a></li>
               <li><a class="dropdown-item" href="#">Paris</a></li>
               <li><a class="dropdown-item" href="#">Toulouse</a></li>
               <li><a class="dropdown-item" href="#">Lille</a></li>
               <li><hr class="dropdown-divider"></li>
               <li><h6 class="dropdown-header">Cinémas en Belgique</h6></li>
               <li><a class="dropdown-item" href="#">Charleroi</a></li>
               <li><a class="dropdown-item" href="#">Liège</a></li>
            </ul>
         </div>
      </div>
      
      <div class="col-12 ligne_filtres">
         <div class="filtres_jours">
            <ul class="nav nav-underline nav_filtres px-3">
               <li class="nav-item">
                  <a class="nav-link active" data-filtre-date="{{ dates.0 }}">Aujourd'hui</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" data-filtre-date="{{ dates.1 }}">Demain</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" data-filtre-date="{{ dates.2 }}">{{ dates.2|format_date(pattern: "eeee d MMMM") }}</a>
               </li>
               
               <li class="nav-item dropdown jours_menu">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                     Jours suivants
                  </a>
                  <ul class="dropdown-menu">
                     <li><a class="dropdown-item" data-filtre-date="{{ dates.3 }}">{{ dates.3|format_date(pattern: "eeee d MMMM") }}</a></li>
                     <li><a class="dropdown-item" data-filtre-date="{{ dates.4 }}">{{ dates.4|format_date(pattern: "eeee d MMMM") }}</a></li>
                     <li><a class="dropdown-item" data-filtre-date="{{ dates.5 }}">{{ dates.5|format_date(pattern: "eeee d MMMM") }}</a></li>
                     <li><a class="dropdown-item" data-filtre-date="{{ dates.6 }}">{{ dates.6|format_date(pattern: "eeee d MMMM") }}</a></li>
                     <li><a class="dropdown-item" data-filtre-date="{{ dates.7 }}">{{ dates.7|format_date(pattern: "eeee d MMMM") }}</a></li>
                  </ul>
               </li>
            </ul>
         </div>
         
         <div class="filtres_menu">
            <ul class="nav nav-underline nav_filtres px-3">
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                     Filtres
                  </a>
                  <ul class="dropdown-menu">
                     <li><h6 class="dropdown-header">Technologies</h6></li>
                     <li>
                           <span class="badge rounded-pill badge_genre_filtres" data-filtre-techno="4DX">4DX-ICE</span>
                           <span class="badge rounded-pill badge_genre_filtres" data-filtre-techno="3D">3D</span>
                           <span class="badge rounded-pill badge_genre_filtres" data-filtre-techno="IMAX">IMAX</span>
                           <span class="badge rounded-pill badge_genre_filtres" data-filtre-techno="ONYX">ONYX</span>
                     </li>
                     
                     <li><hr class="dropdown-divider"></li>
                     <li><h6 class="dropdown-header">Genres</h6></li>
                     <li>
                        {% for genre in genres %}
                           <span class="badge rounded-pill badge_genre_filtres" data-filtre-genre="{{ genre }}">{{ genre }}</span>
                        {% endfor %}
                     </li>
                  
                  </ul>
               </li>
            </ul>
         </div>
         
      </div>
   </div>
   
   
   <div class="row g-2 g-sm-3 g-lg-4 mt-1 px-2 row-cols-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5  liste_films">
   
   {% for film in films %}
      <div class="col">
         <a href="/film/{{ film.id }}" class="films_lien_details">
            <div class="card">
                  <img src="images/affiches/{{ film.affiche }}.jpg" class="card-img-top" alt="{{ film.titre }}">
                  <div class="film_hover">INFOS ET<br><b>SEANCES</b>
                  </div>
               
               {% set startDate = film.dateAjout %}
               {% set difference = date( 'now' | date() ).diff(date(startDate)) %}
               {% set difference_jours = difference.days %}
               {% if difference_jours < 7 %}
                  <span class="badge text-bg-danger fs-5 position-absolute top-0 start-0 mt-4 ms-2">NOUVEAU</span>
               {% endif %}
               
               {% if film.ageMini > 0 or film.avertissement != "" %}
                  {% set mention_age_public = "-" ~ film.ageMini %}
                  
                  {% if film.ageMini < 12 %}
                     {% set badge_class = "text-bg-primary" %}
                     {% set badge_info = "A partir de " ~ film.ageMini ~ " ans" %}
                  {% elseif film.ageMini >= 12 %}
                     {% set badge_class = "text-bg-warning" %}
                     {% set badge_info = "Interdit aux moins de " ~ film.ageMini ~ " ans" %}
                  {% elseif film.ageMini >= 18 %}
                     {% set badge_class = "text-bg-danger" %}
                     {% set badge_info = "Interdit aux moins de " ~ film.ageMini ~ " ans" %}
                  {% endif %}
                  
                  <span class="fs-5 position-absolute bottom-0 end-0 mb-4 me-2">
                    
                     {% if film.ageMini > 0 %}
                       <span class="badge rounded-pill {{ badge_class }}" title="{{ badge_info }}">{{ mention_age_public }}</span>
                     {% endif %}
                     
                     {% if film.avertissement != "" %}
                        <i class="bi-exclamation-circle-fill" title="Avertissement : {{ film.avertissement }}"></i>
                     {% endif %}
                     
                     {% if film.coupDeCoeur %}
                       <i class="bi-heart-fill text-danger" title="Coup de coeur Cinéphoria !"></i>
                     {% endif %}

                  </span>
               
               {% endif %}
               
               
               
               
               <div class="card-body">
                  <h5 class="card-title">{{ film.titre }}</h5>
               </div>
            </div>
         </a>
      </div>
         {% else %}
            
            <div class="affiche">Aucun film trouvé !</div>
         
         {% endfor %}
         

   </div>
</div>


{% endblock %}

{% block scripts_supp %}

{% endblock %}

