{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="col-12 px-6 conteneur_general_film">
   
   <div class="row filtres_films">
      <div class="col-12 p-0">
         <div class="dropdown choix_cinema">
            <button class="btn btn-primary dropdown-toggle w-100 dropdown_cinemas" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
              Aujourd'hui dans votre : Veuillez choisir un cinéma
            </button>
            <ul class="dropdown-menu fs-4 w-100 text-center">
               <li><h6 class="dropdown-header">Cinémas en France</h6></li>
               
               {% for cinema in cinemas %}
                  {% if "Belgique" not in cinema.ville %}
                     <li><a class="dropdown-item lien_filtre_cinema" data-cinema-id="{{ cinema.id }}">{{ cinema.nom }}</a></li>
                  {% endif %}
               {% endfor %}
               
               <li><hr class="dropdown-divider"></li>
               <li><h6 class="dropdown-header">Cinémas en Belgique</h6></li>
               {% for cinema in cinemas %}
                  {% if "Belgique" in cinema.ville %}
                     <li><a class="dropdown-item lien_filtre_cinema" data-cinema-id="{{ cinema.id }}">{{ cinema.nom }}</a></li>
                  {% endif %}
               {% endfor %}
            </ul>
         </div>
      </div>
      
      <div class="col-12 ligne_filtres">
         <div class="filtres_jours">
            <ul class="nav nav-underline nav_filtres px-3 ps-0">
               {% for date_key, jour_fr in dates %}
                  {% set class_active = (loop.index == 1) ? "active" : "" %}
                  <li class="nav-item">
                     <a class="nav-link {{ class_active }} lien_filtre_date lien_j{{ loop.index }}" data-filtre-date="{{ date_key }}" data-nom-jour="j{{ loop.index }}">{{ jour_fr }}</a>
                  </li>
               {% endfor %}
            </ul>
         </div>
         
         <div class="filtres_menu">
            <ul class="nav nav-underline nav_filtres px-3 pe-0">
               <li class="nav-item">
                  <a class="nav-link lien_voir_tout active" data-filtres="voir_tout">Voir tout</a>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle dropdown_filtres" data-bs-toggle="dropdown" role="button" aria-expanded="false" data-bs-auto-close="outside">
                     Filtres
                  </a>
                  <ul class="dropdown-menu">
                     <li><h6 class="dropdown-header">Technologies</h6></li>
                     <li>
                           <span class="badge rounded-pill badge_genre_filtres" data-filtre-techno="4DX">4DX-ICE</span>
                           <span class="badge rounded-pill badge_genre_filtres" data-filtre-techno="3D">3D</span>
                           <span class="badge rounded-pill badge_genre_filtres" data-filtre-techno="IMAX">IMAX</span>
                           <span class="badge rounded-pill badge_genre_filtres" data-filtre-techno="ONYX">ONYX</span>
                     </li>
                     
                     <li><hr class="dropdown-divider"></li>
                     <li><h6 class="dropdown-header">Genres</h6></li>
                     <li>
                        {% for genre_key, genre in genres %}
                           <span class="badge rounded-pill badge_genre_filtres" data-filtre-genre="{{ genre_key }}">{{ genre }}</span>
                        {% endfor %}
                     </li>
                  
                  </ul>
               </li>
            </ul>
         </div>
         
      </div>
   </div>
   
   
   <div class="row g-2 g-sm-3 g-lg-4 mt-1 px-2 row-cols-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5  liste_films">
   
   {% for film in films %}
      <div class="col">
         <a href="/film/{{ film.id }}" class="films_lien_details">
            <div class="card">
                  <img src="images/affiches/{{ film.affiche }}.jpg" class="card-img-top" alt="{{ film.titre }}">
                  <div class="film_hover">INFOS ET<br><b>SEANCES</b>
                  </div>
               
               {% set startDate = film.dateAjout %}
               {% set difference = date( 'now' | date() ).diff(date(startDate)) %}
               {% set difference_jours = difference.days %}
               {% if difference_jours < 7 %}
                  <span class="badge text-bg-danger fs-5 position-absolute top-0 start-0 mt-4 ms-2">NOUVEAU</span>
               {% endif %}
               
               {% if film.ageMini > 0 or film.avertissement != "" or film.coupDeCoeur %}
                  {% set mention_age_public = "-" ~ film.ageMini %}
                  
                  {% if film.ageMini < 12 %}
                     {% set badge_class = "text-bg-primary" %}
                     {% set badge_info = "A partir de " ~ film.ageMini ~ " ans" %}
                  {% elseif film.ageMini >= 12 %}
                     {% set badge_class = "text-bg-warning" %}
                     {% set badge_info = "Interdit aux moins de " ~ film.ageMini ~ " ans" %}
                  {% elseif film.ageMini >= 18 %}
                     {% set badge_class = "text-bg-danger" %}
                     {% set badge_info = "Interdit aux moins de " ~ film.ageMini ~ " ans" %}
                  {% endif %}
                  
                  <span class="fs-5 position-absolute bottom-0 end-0 mb-4 me-2">
                    
                     {% if film.ageMini > 0 %}
                       <span class="badge rounded-pill {{ badge_class }}" title="{{ badge_info }}">{{ mention_age_public }}</span>
                     {% endif %}
                     
                     {% if film.avertissement != "" %}
                        <i class="bi-exclamation-circle-fill" title="Avertissement : {{ film.avertissement }}"></i>
                     {% endif %}
                     
                     {% if film.coupDeCoeur %}
                       <i class="bi-heart-fill text-danger" title="Coup de coeur Cinéphoria !"></i>
                     {% endif %}

                  </span>
               
               {% endif %}
               
               
               
               
               <div class="card-body">
                  <h5 class="card-title">{{ film.titre }}</h5>
               </div>
            </div>
         </a>
      </div>
         {% else %}
            
            <div class="w-100">
               <h4 class="text-center">Aucune séance trouvée ce jour. Essayez de choisir un autre jour !</h4>
            </div>
         
         {% endfor %}
         

   </div>
</div>


{% endblock %}

{% block scripts_supp %}

{% endblock %}

