{% extends 'layout_compte.html.twig' %}

{% block title %}Mes réservations{% endblock %}

{% block compte_content %}

   <p class="text-center mb-2">Voici la liste de toutes vos réservations. </p>
   <p class="text-center mb-5">Lorsqu'une séance est terminée, vous avez la possibilité de noter et de commenter le film.</p>
   
   <table class="table table-striped table-hover">
      <thead>
         <tr>
            <th>Numéro de réservation</th>
            <th>Date de réservation</th>
            <th>Date et heure de la séance</th>
            <th>Film</th>
            <th>Durée</th>
            <th>Noter</th>
         </tr>
      </thead>
      {% for reservation in reservations %}
      <tr>
         <td>{{ reservation.numero }}</td>
         <td>{{ reservation.date_reservation }}</td>
         <td>{{ reservation.date_seance }}</td>
         <td>{{ reservation.film }}</td>
         <td>{{ reservation.film_duree }}</td>
         <td><button class="btn btn-primary">Noter</button></td>
      </tr>
      {% endfor %}
   
   </table>

{% endblock %}

{% block scripts_supp %}

{% endblock %}

