{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block content %}

<div class="col-12 px-5 py-3 my-3 mb-0 align-items-center">
    
    <div class="card text-bg-dark mb-3 mx-auto" style="max-width: 875px;">
    
        <div class="card-header fs-5">Se connecter</div>
        <div class="card-body p-5 ">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
        
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
        
               
                <h5 class="text-center mb-5">
                    Pas encore de compte ?<br>Rendez-vous sur la page <a href="{{ path('app_login') }}">d'inscription</a> pour en créer un !
                </h5>
                
                <div class="mb-3">
                
                    <label for="username">Email :</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                </div>
                <div class="mb-3">
                    <label for="password">Mot de passe :</label>
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                </div>
                <div class="form-check mb-5">
                    <input class="form-check-input" type="checkbox" value="" name="_remember_me" id="_remember_me">
                    <label class="form-check-label" for="_remember_me">
                        Se souvenir de moi
                    </label>
                </div>
                
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
        
        
                <button class="btn btn-lg btn-primary" type="submit">
                    Se connecter
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
